// colors 

// primary colors

// CTA text 

$lightRed : hsl(356, 100%, 66%);

// CTA hover background

$veryLightRed : hsl(355, 100%, 74%);

// headings 

$veryDarkBlue : hsl(208, 49%, 24%);

// neutral colors

//text 

$white : hsl(0, 0%, 100%);

// footer text 

$grayishBlue : hsl(240, 2%, 79%);

// body copy

$veryDarkGrayishBlue : hsl(207, 13%, 34%);

// footer background

$veryDarkBlackBlue : hsl(240, 10%, 16%);

// ### Gradient colors 

// Background gradient - Intro/CTA mobile nav:

$veryLightRed : hsl(13, 100%, 72%);

$lightRed : hsl(353, 100%, 62%);

// Background gradient - body:

$veryDarkGrayBlue : hsl(237, 17%, 21%);
$veryDarkDesaturatedBlue : hsl(237, 23%, 32%);


//font size

$bodyFont : 1rem;


